.auth {
    &.condition-content {
        .content {
            padding: 0 15px;
            margin: 0 auto;
            width: 100%;
            @include breakpoint(1200px, min) {
                max-width: 80%;
            }
            @include breakpoint(2000px, min) {
                max-width: 1000px;
            }

            .content-header {
                text-align: center;
                font-size: 1.8rem;


                .group-text {
                    display: flex;
                    flex-direction: column;
                    line-height: 1.2;
                }
            }




            //Condition style
            .conditions{
                .text-header{
                    font-size: 23px;
                }
                .conditions-nav{
                    list-style-type: decimal;
                    margin-left: 30px;
                    padding-left: 25px;
                    .conditions-item{
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
            }



            // Conditions form
            .conditions-form{
                margin-top: 50px;
                .form-header{
                    font-size: 16px;
                    font-weight: 200;
                    margin-bottom: 30px;
                }
                .form{
                    max-width: 60%;
                    @include breakpoint(480px, max){
                        max-width: 100%;
                    }
                    @include breakpoint(480px, min){
                        max-width: 480px;
                    }
                    margin: 0 auto;
                    .group-form{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        @include breakpoint(480px, max){
                            grid-template-columns: 1fr;
                        }
                        grid-gap: 1em;
                    }

                    .form-group{
                        label[for="student_code"], label[for="student_email"]{
                            padding: 0;
                            margin: 0;
                            font-size: 15px;
                            font-weight: 300;
                        }
                    }
                }
            }

















            //Media Query

            @include breakpoint(900px, max)
            {
                .content-header{
                    font-size: clamp(1.4rem, 2.5vw, 1.5rem);
                    padding-top: 30px;
                    padding-bottom: 25px;
                }
                .conditions{
                    .text-header{
                        font-size: clamp(19px, 2.5vw, 23px);
                        font-weight: 500;
                    }
                    .conditions-nav{
                        margin: 0;
                        padding-left: 15px;
                        .conditions-item{
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                }
            }
            @include breakpoint(900px, min){
                .content-header{
                    font-size: clamp(1.5rem, 2.5vw, 2rem);
                    padding-top: 50px;
                    padding-bottom: 25px;
                }
            }
        }
    }
}
