.auth{
    &.registration-container{
        .content{
            margin-top: 30px;
            @include breakpoint(768px, min){
	            margin-top: 10%;
            }
            .registration{
                margin-top: 25px;
                margin-bottom: 30px;
                .text-header{
                    font-size: 1.3em;
                }
                .list{
                    text-indent: 30px;
                    font-size: 1.065em;
                    font-weight: 300;
                    line-height: 1.5;
                }

                @include breakpoint(600px, min){
                    .text-header{
                        font-size: 1.4em;
                    }
                    .list{
                        font-size: 1.2em;
                    }
                }
            }
            .registration-form{
                margin-top: 25px;
                .form{
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    display: grid;
                    grid-gap: 1em;
                    fieldset{
                        padding: 10px 15px 20px 15px;
                        margin-bottom: 15px;
                        legend{
                            color: #057d1f;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 0;
                        }
                        .form-group{
                            margin: 0;
                            label{
                                margin: 0;
                                line-height: 0;
                            }
                            .form-control{
                                font-size: 15px;
                                font-weight: 300;
                            }
                            
                        }
                        .grid-container{
	                        display: grid;
	                        grid-gap: 1em;
                        }
                        @include breakpoint(600px, max){
                            @include breakpoint(500px, min){
                                .grid-container{
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    grid-gap: 1em;
                                    .form-group{
                                        &:nth-of-type(1){
                                            grid-column-start: 1;
                                            grid-column-end: 3;
                                        }
                                    }
                                }
                            }
                        }
                    }


                    @include breakpoint(600px, min){
                        grid-template-columns: 1fr 1fr;
                        fieldset{
                            &:nth-of-type(1){
                                grid-column-start: 1;
                                grid-column-end: 3;
                                .grid-container{
                                    display: grid;
                                    grid-gap: 1em;
                                    grid-template-columns: 3fr 2fr 2fr;
                                }
                            }
                        }
                        .register-btn{
                            grid-column-start: 1;
                            grid-column-end: 3;
                        }
                    }
                    
                    ::placeholder{
	                    color: #999999;
	                    font-weight: 200;
	                    letter-spacing: .85px;
                    }
                }
                
               .register-btn{
                   margin-bottom: 30px;
                   text-align: center;
                   .btn{
                       min-width: 200px;
                       font-weight: 300;
                       font-size: 15px;
                   }
               }

            }
            
            
        }
    }
}
