.auth {
    .content {
        @include breakpoint(1900px, min) {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .content-header {
            @include breakpoint(1900px, min) {
                font-size: 3em;
            }
        }
        .verify-coded-form {
            .serials {
                text-transform: uppercase;
            }
            input:focus {
                outline: none;
            }
            .form-control {
                border-radius: 0;
            }
            .form-control:disabled,
            .form-control[readonly] {
                background-color: rgb(8, 107, 86);
                opacity: 1;
                color: white;
                border-color: rgba(2, 59, 35, 0.726);
                border-radius: 0;
            }
            label {
                margin: 0;
            }
        }

    }
    .verify-coded {
        max-width: 80%;
        margin: 25px auto 0 auto ;
        @include breakpoint(780px, max) {
            max-width: 100%;
            padding: 0 15px;
        }
        .custom-fieldset {
            padding-left: 15px;
            padding-right: 15px;
            .legend {
                font-size: 18px;
                font-weight: 300;
            }
            .grid-container {
                display: grid;
                grid-template-columns: 3fr 2fr 2fr;
                grid-gap: 1em;
                @include breakpoint(600px, max) {
                    grid-template-columns: 1fr;
                    grid-gap: 0;
                }
                 ::placeholder {
                    font-weight: 200;
                    color: rgb(140, 140, 140);
                }
                label.error {
                    margin-top: 5px;
                    margin-bottom: 0;
                    width: 100%;
                    color: red;
                    text-align: center;
                    font-size: 17px;
                    font-weight: 300;
                    span {
                        &.success-message {
                            width: 100%;
                            text-align: center;
                            margin-top: -16px;
                            margin-bottom: -9px;
                            color: #0b823b;
                        }
                    }
                }
            }
        }
        .register-btn {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            input {
                min-width: 200px;
            }
        }
    }
}
