/* Mixins A Breakpoint */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  background-color: white;
  font-family: "Prompt", sans-serif;
  color: #4c4c4c;
  color: #4c4c4c;
}

body {
  transition: all 0.4s ease;
  display: grid;
  grid-template-areas: "header header header header" "main main main main";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  width: 100%;
}
body header {
  position: fixed;
  width: 100%;
  height: 45px;
  grid-area: header;
  display: flex;
  align-items: center;
}
body .main {
  overflow-y: auto;
  grid-area: main;
}
body div.main {
  display: grid;
  grid-template-areas: "content" "footer";
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr;
}
body div.main main {
  grid-area: content;
  margin-top: 50px;
}
body div.main footer {
  grid-area: footer;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: #6f6f6f;
}
body.position-left {
  margin-left: 270px;
}
body ul {
  list-style-type: none;
}
body .form-group .error {
  color: #ea3305;
}
body .form-control.error {
  border: 1px solid #ea3305;
  box-shadow: 0 1px 1px rgba(252, 36, 7, 0.2) inset, 0 0 8px rgba(255, 77, 8, 0.2);
}

.auth.condition-container .content, .auth.registration-container .content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 769px) {
  .auth.condition-container .content, .auth.registration-container .content {
    max-width: 768px;
  }
}
.auth.condition-container .content .content-header, .auth.registration-container .content .content-header {
  font-size: 1.5em;
  text-align: center;
}
@media (min-width: 600px) {
  .auth.condition-container .content .content-header, .auth.registration-container .content .content-header {
    font-size: 1.8em;
  }
}
.auth.condition-container .content .content-header .group-text, .auth.registration-container .content .content-header .group-text {
  line-height: 1.2;
}
@media (max-width: 479px) and (min-width: 320px) {
  .auth.condition-container .content, .auth.registration-container .content {
    margin-top: 20px;
  }
}

.auth.registration-container .content {
  margin-top: 30px;
}
.auth.registration-container .content .registration {
  margin-top: 25px;
}
.auth.registration-container .content .registration .text-header {
  font-size: 1.3em;
}
.auth.registration-container .content .registration .list {
  text-indent: 30px;
  font-size: 1.065em;
  font-weight: 300;
  line-height: 1.5;
}
@media (min-width: 600px) {
  .auth.registration-container .content .registration .text-header {
    font-size: 1.4em;
  }
  .auth.registration-container .content .registration .list {
    font-size: 1.2em;
  }
}
.auth.registration-container .content .registration-form {
  margin-top: 25px;
}
.auth.registration-container .content .registration-form .form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 1em;
}
.auth.registration-container .content .registration-form .form fieldset {
  padding: 5px 15px 20px 15px;
  margin-bottom: 8px;
}
.auth.registration-container .content .registration-form .form fieldset legend {
  color: #057d1f;
  font-size: 18px;
  font-weight: 400;
  line-height: 0;
}
.auth.registration-container .content .registration-form .form fieldset .form-group {
  margin: 0;
}
.auth.registration-container .content .registration-form .form fieldset .form-group label {
  margin: 0;
  line-height: 0;
}
.auth.registration-container .content .registration-form .form fieldset .form-group .form-control {
  font-size: 15px;
  font-weight: 300;
}
@media (max-width: 600px) and (min-width: 500px) {
  .auth.registration-container .content .registration-form .form fieldset .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .auth.registration-container .content .registration-form .form fieldset .grid-container .form-group:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (min-width: 600px) {
  .auth.registration-container .content .registration-form .form {
    grid-template-columns: 1fr 1fr;
  }
  .auth.registration-container .content .registration-form .form fieldset:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .auth.registration-container .content .registration-form .form fieldset:nth-of-type(1) .grid-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 3fr 2fr 2fr;
  }
}

/* Mixins A Breakpoint */
.auth-navbar {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  background-color: white;
  /* Sidebar Visible only 480px*/
}
.auth-navbar a {
  color: #6f6f6f;
  text-decoration: none;
}
.auth-navbar a:hover {
  color: #363636;
}
.auth-navbar .navbar-content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* Main-Nav hidden only max 480px */
}
.auth-navbar .navbar-content .navbar-header {
  display: flex;
  align-items: center;
}
.auth-navbar .navbar-content .navbar-header .text-navbar-brand {
  margin-left: 8px;
}
.auth-navbar .navbar-content .navbar-header .icons::before {
  font-size: 1.8em;
  margin: 0;
}
@media (max-width: 900px) {
  .auth-navbar .navbar-content .navbar-header .text-navbar-brand {
    margin-left: 8px;
  }
  .auth-navbar .navbar-content .navbar-header .icons::before {
    margin: 0;
  }
}
.auth-navbar .navbar-content .nav-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-weight: 300;
}
.auth-navbar .navbar-content .nav-links .links {
  padding-left: 15px;
  padding-right: 15px;
}
.auth-navbar .navbar-content .nav-links .links:last-of-type {
  padding-right: 0;
}
@media (max-width: 480px) {
  .auth-navbar .navbar-content .nav-links .hidden-sm {
    display: none;
  }
  .auth-navbar .navbar-content .nav-links .only-sm {
    display: inline;
  }
  .auth-navbar .navbar-content .nav-links .only-sm #toggleBTN {
    cursor: pointer;
  }
  .auth-navbar .navbar-content .nav-links .only-sm .bar1,
.auth-navbar .navbar-content .nav-links .only-sm .bar2,
.auth-navbar .navbar-content .nav-links .only-sm .bar3 {
    width: 23px;
    height: 3px;
    background-color: #6f6f6f;
    margin: 5px 0;
    transition: 0.4s ease;
  }
  .auth-navbar .navbar-content .nav-links .only-sm .change .bar1 {
    transform: rotate(-45deg) translate(-3px, 5px);
  }
  .auth-navbar .navbar-content .nav-links .only-sm .change .bar2 {
    opacity: 0;
  }
  .auth-navbar .navbar-content .nav-links .only-sm .change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
  }
}
@media (min-width: 480px) {
  .auth-navbar .navbar-content .nav-links .hidden-sm {
    display: inline;
  }
  .auth-navbar .navbar-content .nav-links .only-sm {
    display: none;
  }
}
.auth-navbar .sidebar {
  position: fixed;
  background: #ffffff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.13);
  height: 100%;
  width: 270px;
  left: 0;
  top: 0;
  transition: transform 0.4s ease;
}
@media (min-width: 480px) {
  .auth-navbar .sidebar {
    display: none;
  }
}
.auth-navbar .sidebar.isClose {
  transform: translate3d(-280px, 0, 0);
}
.auth-navbar .sidebar .items.header {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  min-height: 50px;
  color: #757575;
  padding: 0 15px;
}
.auth-navbar .sidebar .nav-links {
  display: block;
}
.auth-navbar .sidebar .nav-links .items:nth-of-type(3) .links {
  border-bottom: 1px solid rgba(128, 128, 128, 0.14);
}
.auth-navbar .sidebar .nav-links .links {
  border-top: 1px solid rgba(128, 128, 128, 0.14);
  padding: 8px 15px;
  display: block;
}

.auth.container-fluid {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) and (min-width: 481px) {
  .auth.container-fluid {
    width: 100%;
    padding: 0 15px;
  }
}
@media (max-width: 1200px) and (min-width: 900px) {
  .auth.container-fluid {
    width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 2000px) and (min-width: 1200px) {
  .auth.container-fluid {
    width: 1191px;
    margin: 0 auto;
  }
}
@media (min-width: 2000px) {
  .auth.container-fluid {
    width: 60%;
    margin: 0 auto;
  }
}