#page_not_found{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    .content{
        text-align: center;
        font-size: 2.5em;
        .icons{
            line-height: 0;
            font-size: 5em;
        }
        .text-danger{
            font-size: 18px;
        }
        a{
            text-decoration: none;
        }
    }
}
