@import "../../mixins";
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    @include rgba(bg, #ffffff, 1);
    font-family: 'Prompt', sans-serif;
    @include rgba(color, #4c4c4c, 1);
}

body {
    transition: all 0.4s ease;

    display: grid;
    grid-template-areas: "header header header header" "main main main main";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    width: 100%;

    header {
        position: fixed;
        width: 100%;
        height: 45px;
        grid-area: header;
        display: flex;
        align-items: center;
    }

    .main {
        overflow-y: auto;
        grid-area: main;
    }

    div.main {
        display: grid;
        grid-template-areas: "content" "footer";
        grid-template-rows: 1fr 50px;
        grid-template-columns: 1fr;

        main {
            grid-area: content;
            margin-top: 50px;
        }

        footer {
            grid-area: footer;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 300;
            color: #6f6f6f;
        }
    }

    &.position-left {
        margin-left: 270px;
    }

    ul{
        list-style-type: none;
    }
    .form-group{
        .error{
        color: rgba(234, 51, 5, 1);
        }
    }
    .form-control{
        &.error{
            border: 1px solid rgba(234, 51, 5, 1);
            box-shadow: 0 1px 1px rgba(252, 36, 7, 0.2) inset, 0 0 8px rgba(255, 77, 8, 0.2);
        }
    }
}
.auth{
    @import "../auth/partials/content";
}
//@import '../auth/partials/register';
//@import "../auth/partials/condition";

