.auth{

    &.container-fluid{
        padding: 0;
        @include breakpoint(900px, min){
	        padding-left: 15px;
	        padding-right: 15px;
        }

        @include breakpoint(1200px, max)
        {
            @include breakpoint(900px, min)
            {
                width: 900px;
                margin: 0 auto;
            }
        }

        @include breakpoint(2000px, max)
        {
            @include breakpoint(1200px, min)
            {
                width: 1191px;
                margin: 0 auto;
            }
        }
        @include breakpoint(2000px, min)
        {
            width: 60%;
            margin: 0 auto;
        }
    }
}
